[submodule "cfxr"]
	path = cfxr
	url = git@github.com:nevyn/cfxr.git
[submodule "TheAmazingAudioEngine"]
	path = TheAmazingAudioEngine
	url = https://github.com/TheAmazingAudioEngine/TheAmazingAudioEngine
